/* Header */

nav {
  display: flex;
  height: 10rem;
  background-color: slategrey;
  position: sticky;
}

ul {
  list-style: none;
}
.Logo {
  width: 12rem;
  height: 10rem;
  margin-left: 0rem;
}
.nav-links {
  width: 100%;
  list-style: none;
}
.btn {
  background-color: rgba(143, 238, 214, 0.329);
  border-radius: 0.5rem;
  height: 3rem;
  font-weight: bolder;
  float: right;
  margin-right: 2rem;
  margin-left: 5rem;
  margin-top: 3rem;
  cursor: pointer;
}
/* Fin Header */

/*Page Principale*/
.main {
  background-color: #234766;
  height: 53rem;
}
.row {
  width: 100%;
  height: 20rem;
}
.Widget-1 {
  text-align: center;
  width: 40rem;
  height: 20rem;
  margin-top: 4rem;
  margin-left: 1rem;
  background-color: cadetblue;
  border-radius: 0.75rem;
}
.Widget-2 {
  text-align: center;
  width: 35rem;
  height: 20rem;
  margin-top: 4rem;
  margin-left: 5rem;
  background-color: silver;
  border-radius: 0.75rem;
}
.Widget-3 {
  text-align: center;
  width: 28rem;
  height: 14rem;
  margin-top: 4rem;
  background-color: grey;
  margin-left: 20rem;
  border-radius: 0.75rem;
}
.Widget-4 {
  text-align: center;
  background-color: sandybrown;
  width: 28rem;
  height: 32rem;
  border-radius: 0.75rem;
  margin-left: 31rem;
}
tr {
  display: block;
  float: left;
  font-size: 2rem;
}
th {
  display: block;
  height: 10rem;
}

h3 {
  height: 5rem;
}
.widget-Chart {
  width: 50rem;
  height: 23rem;
  margin-top: 8rem;
  margin-left: 1rem;
  border-radius: 0.75rem;
}
.widget-Radar {
  width: 30rem;
  height: 23rem;
  margin-top: 8rem;
  margin-left: 15rem;
  border-radius: 0.75rem;
}
footer {
  background-color: black;
  margin-top: 13rem;
  width: auto;
  height: 3rem;
  text-decoration-color: blanchedalmond;
}
.le-footer {
  color: aliceblue;
  text-align: center;
  padding: 0.75rem;
}
